<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='css/bootstrap/bootstrap.min.css') }}"  rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', path='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <title>Охрана труда</title>
</head>
<body>

<!--Навбар-->
{% include "navbar.html" %}
  
{% block employyes_list %}
{% endblock employyes_list %}


    <script src="{{ url_for('static', path='js/bootstrap_js/bootstrap.bundle.min.js') }}" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', path='js/bootstrap_js/tooltip-enable') }} " crossorigin="anonymous">
    </script>
</body>
</html>