<ul class="nav nav-pills mb-3">

    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Все</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">ИВЦ</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">ИП-1</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">ИП-2</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">ИП-3</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">ИП-5</a>
    </li>

</ul>